$def with (content)
<!DOCTYPE html>
<html>
<head>
<style>
#header {
    background-color:#46bfab;
    color:#2c3b38;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#373078;
    color:white;
    height:300px;
    width:100px;
    float:left;
    padding:35px;	      
}
#section {
    width:350px;
    float:left;
    padding:15px;	 	 
}
#footer {
    background-color:#bdb698;
    color:black;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}
</style>
</head>
<body>

<div id="header">
<h1>TomTom LEARN</h1>
</div>

<div id="nav">
Quiz<br>
More to come
</div>

<div id="section">
<h2>Quiz</h2>
$:content
</div>

<div id="footer">
Copyright © TomTom.com
</div>

</body>
</html>
